    h1{
        color:yellow; 
        text-Align: center;
         background-color:black;
         font: blod 2.5em/3em italic Arial, sans-
         
         font-size: 2.5em; 
         line-height: 2em;
         font-style: italic; 
}

    h2{
        color:yellow;
        background-color: black;
        font-size: 1.5em;  
         font-style: italic; 

}
    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
        font-family:'Times New Roman', Times, serif;  
         font-style: italic; 

}
    body{
        background-color:rgb(34, 34, 255); 
        font-family:'Times New Roman';
         font-size: 1.1em;  
}
    p{
        background-color:magenta;
        color:white;
        font-family:'Times New Roman', Times, serif;
         font-size: 1.1em;  
          


}
    ul{
        color:gray;
        font-family:'Times New Roman', Times, serif;
        font-size: 1.1em;  
        font-weight: bold;
        background-color:magenta;

}
    Ol{
        color:gray;
        font-family:'Times New Roman', Times, serif;
        font-size: 1.1em;  
        font-weight: bold;
        background-color:magenta;

}
