    h1{
        color:yellow; 
        background-color:black;
        text-Align: center;
         font: bold 2.5em/3em 'times New romans', small-caps;       
         font-size: 2.5em; 
         line-height: 2em;
         font-style: italic; 
}
    h2{
        color:yellow;
        background-color: black;
        font-size: 1.5em;  
         font-style: italic; 
}
    h3{
        color:yellow;
        background-color:black;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.1em;
}
    h6{
        color:yellow;
        background-color:black; 
        font-family: 'Times New Roman', Times, serif;       
}
    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
        font-family:'Times New Roman', Times, serif;  
        font-weight: italic;
        color:yellow;
        background-color: black; 
}
    body{
        background-color:rgb(34, 34, 255); 
        font-family:'Times New Roman';
         font-size: 1.1em;  
}
    p{
        background-color:magenta;
        color:white;
        font-family:'Times New Roman', Times, serif;
         font-size: 1.1em;  
}
    ul{
        font-family:'Times New Roman', Times, serif;
        font-size: 1.1em;  
        font-weight: bold;
        background-color:magenta;
        list-style-type:circle;
        list-style-position:outsides;
}
    Ol{
        font-family:'Times New Roman', Times, serif;
        font-size: 1.1em;   
        font-weight: bold;
        background-color:magenta;
        list-style-type:upper-roman;
}
    #thankssection{
        color: gray;
         font-family:'Times New Roman', Times, serif;
}
    #myhobbies{
        color:lightgray;
         font-family:'Times New Roman', Times, serif;
}
    .myhobies{
        color: white;
        font-family:'Times New Roman', Times, serif;
}
    header{
        font-weight: italic;
        color:yellow;
        background-color: black; 
        font-family:'Times New Roman', Times, serif;
}
    main{
        font-weight: italic;
        color:yellow;  
         font-family:'Times New Roman', Times, serif;         
}
    footer{
        font-weight: italic;
        color:yellow;
        background-color: black;
        font-family:'Times New Roman', Times, serif; 
}
    article{
        font-weight: italic;
        font-family:'Times New Roman', Times, serif;
}
img{
   vertical-align: middle;
}
