    h1{
        text-Align: center;
        font: bold 2.5em/3em 'times New romans', small-caps;       
        font-size: 2.5em; 
        line-height: 2em;
}
    h2{
        font-size: 1.5em;  
}
    h3{
        font-size: 1.1em;
}
    h6{
        line-height:normal;
}
    h1,h2,h3,h4,h5,h6{
        font-family:'Times New Roman', Times, serif;  
        font-style: italic;
        color:yellow;
        background-color: black; 
}

    body{
        background-color:rgb(34, 34, 255); 
        font-family:'Times New Roman';
        font-size: 1.1em;  
}
    p{
        background-color:magenta;
        color:white;
        font-family:'Times New Roman', Times, serif;
        font-size: 1.1em;  
}
    ul{
        font-family:'Times New Roman', Times, serif;
        font-size: 1.1em;  
        font-weight: bold;
        background-color:magenta;
        list-style-type:circle;
        list-style-position: outside;
}
    Ol{
        font-family:'Times New Roman', Times, serif;
        font-size: 1.1em;   
        font-weight: bold;
        background-color:magenta;
        list-style-type:upper-roman;
        list-style-position: outside;
    }
    #thankssection{
        color: gray;
        font-family:'Times New Roman', Times, serif;
}
    #myhobbies{
        color:lightgray;
        font-family:'Times New Roman', Times, serif;
}
    .myhobies{
        color: white;
        font-family:'Times New Roman', Times, serif;

}
    header{
        font-style: italic;
        color:yellow;
        background-color: black; 
        font-family:'Times New Roman', Times, serif;
}
    main{
        font-style: italic;
        color:yellow;  
        font-family:'Times New Roman', Times, serif;         
}
    footer{
        font-style: italic;
        color:yellow;
        background-color: black;
        font-family:'Times New Roman', Times, serif; 
}
    article{
        font-style: italic;
        font-family:'Times New Roman', Times, serif;
}
    img{
        vertical-align: middle;
}
    p em{
        color: gray;
}
    nav{
        background-color: magenta;
        line-height:200%    
}
    nav li{
        display: inline;
        padding-right:40px;
        list-style-type:none;
}
    nav a:link{
        color:white;
        text-decoration: none;
}
    nav a:visited{
        color:white;
}
    nav a:hover{
        text-decoration:underline;       
}
    nav a:active{
        color:black;
        text-decoration:underline;
}